<?xml version="1.0" ?>
<robot name="helios_description" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="purple">
  <color rgba="0.6 0.3 0.8 1.0"/>
</material>

<material name="black">
  <color rgba="0 0 0 1"/>
</material>

<material name="blue">
  <color rgba="0 0 0.9 1"/>
</material>

<material name="light_blue">
  <color rgba="0.4 0.7 1.0 1.0"/>
</material>

<material name="green">
  <color rgba="0.2 0.8 0.2 1.0"/>
</material>

</robot>
